.navbar{
    background: rgb(30, 30, 30);
    padding: 1rem 2rem;
    margin: 0 auto;
    height: 5rem;
    width: 100vw;
    max-width: 85rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}


.desktopMenuListItem:hover{
    color: #007aff;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #007aff;
}

.desktopMenuBtn{
    border: none;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.desktopMenuImg{
    object-fit: cover;
    margin: 1rem 0.3rem;
    width: 1rem;
}


.desktopMenuBtn:hover{
    background-color: #007aff;
    color: #ffffff
}

.active{
    color: #007aff;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid  #007aff;
}